server {  
    listen {{ port }};
    server_name _;

    access_log /var/log/nginx/web-app-access.log;
    error_log  /var/log/nginx/web-app-error.log;

    root {{ nginx_docroot }};
    index index.html;

    location / {
        try_files $uri $uri/ =404;
    }
}
